<!DOCTYPE HTML>
<html>
<head>
    <title>DemoWorkWithSpring</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
    <body>
        <div></div>Hello, user plz auth here -> </div>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
        <a href="/main">Page Auth</a>
    </body>
</html>